<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burp Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <p>¡Gran elección! La creatividad y la habilidad para resolver problemas complejos son cualidades que transforman los desafíos en oportunidades. ¡Listo/a para encontrar soluciones innovadoras!</p>
        <a href="/">Regresar</a>
    </div>
</body>
</html>