<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burp Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <p>¡Perfecto! Tener una memoria impecable puede marcar una gran diferencia en el éxito de cualquier proyecto. Con cada detalle en su lugar, el resultado será aún mejor.</p>
        <a href="/">Regresar</a>
    </div>
</body>
</html>